<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LMSDataModelEntities" connectionString="metadata=res://*/Data.LMSDataModel.csdl|res://*/Data.LMSDataModel.ssdl|res://*/Data.LMSDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;User Id=dev;password=dev1234;Persist Security Info=True;database=lms-dwh&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>