/*----------------------------------------------------------

----------------------------------------------------------*/
@font-face
{
    font-family: nevis;
    src: url(../Fonts/nevis.woff);
}

h1,p {
    font-family: Trebuchet MS, Arial, Sans-Serif;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;   
}

body
{
    background-color: #F0F0F0;
    font-smoothing: antialiased;
}




#mainContainer {
    height: auto;
    width:960px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

div#header, 
div#footer, 
div#contentHeader {
     
    background-color: #004158;
    text-align: center;
    margin-bottom: 10px;
    
}

#header 
{
    width: 100%;
    height: 105px;         
}

#footer {
    width: 100%;
    line-height: normal;
    height: 40px;
    padding: 5px 0;
    background-color: #004158;
}

span#bottomLine 
{
    height: 5px;
    background-image: url(../Images/line.png);
    display: block;
    position: relative;
    top: 15px;
}
span#headerText
{
    font-family: Segoe UI, Sans-Serif;
    font-weight: Bold;
    font-size: 58px;
    color: #FFFFFF;
    display: block;
    padding: 15px 0;
}

span#logoHolder {
    display: inline-block;
    height: 85px;
    width: 50px;
    background-image: url(../Images/ctl_logo_2.png);
    float: left;
    margin: 7.5px 40px;   
}

span#hotdogMenu {
    height: 50px;
    width: 50px;
    padding: 2px;    
    display: block;
    border: 2px solid #004158;
    cursor: pointer;
    background-image: url(../Images/Icons/hotdogMenu.png);
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
    bottom: 56px;
    left: 890px;
}

span#hotdogMenu:hover 
{
    border-color: #FFFFFF;
    border-radius: 5px;
}


div#contentHeader {
    height: 65px;
}

div#contentHeader h1{
    display: block;
    padding-top: 20px;
    font-size: 40px;  

}

table#dashBoardTable {   
    margin: 10px auto;  
    border-spacing: 20px;
    border-collapse: separate;
    
}

table#dashBoardTable td {
    width: 265px;
    height: 200px;
    text-align: center;
    background-color: #F1F2F2;  
}

table#dashBoardTable td a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
}

.menuIcons {
    margin: 20px 0 10px ;
}

.menuIconText {
    font-family: Arial, Sans-Serif;
    font-size: 26px;
    color: #004158;    
}


input,select {
    padding: 2px;
    margin: 5px 10px;
    font-size: 20px;
    vertical-align: text-bottom;
}
#searchBoxContainer,#searchContent 
{
    font-family: Georgia, Arial, Sans-Serif;
    font-size: 24px;
    width: 90%;
    margin: 10px auto;
    vertical-align: text-bottom;
}

#searchContent {

    min-height: 150px;
}

.searchDivider {
    width: 98%;
    margin: 10px auto;
}

.submitBtn 
{
    padding: 5px 8px;
    margin: 0;
    font-size: 20px;
    color: #FFFFFF;
    background-color:#004158;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    vertical-align: super;
}

button.submitBtn:hover {
    background-color: rgba(0, 95, 129, 0.68);
}
.noResult,#searchBoxContainer,#searchContent  {
  color:  #004158;
    letter-spacing: 2px;
}
p.noResult {
    font-size: 40px;
    text-align: center;
}
q.noResult {
    font-style: italic;
}


/*
a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}


 HEADINGS   
----------------------------------------------------------
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

 this rule styles <h2> tags that are the 
first child of the left and right table columns 
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------
 you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. 
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore 
}

TAB MENU   
----------------------------------------------------------
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

 FORM LAYOUT ELEMENTS   
----------------------------------------------------------

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

 TABLE
----------------------------------------------------------

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

 MISC  
----------------------------------------------------------
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

Styles for validation helpers
-----------------------------------------------------------
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

Styles for editor and display helpers
----------------------------------------------------------
.display-label,
.editor-label,
.display-field,
.editor-field

    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
*/
